.city-main-info-section {
  display: flex;
  justify-content: center;
  gap: 1rem;

  .city-main-info-section__left-container {
    display: flex;
    flex-direction: column;
    margin-right: 10rem;
  }

  .city-main-info-section__image-container {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
  }

  .city-main-info-section__info-container {
    display: flex;
    flex-direction: column;
    max-width: 40vw;
  }

  .city-main-info-section__square-image {
    max-width: 300px;
    max-height: 800px;
    border-radius: 1rem;
    object-fit: cover;
  }

  .city-main-info-section__large-rounded-image {
    max-width: 450px;
    min-height: 560px;
    border-top-left-radius: 15rem;
    border-top-right-radius: 15rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    object-fit: cover;
  }

  .city-main-info-section__medium-rounded-image {
    max-width: 300px;
    min-height: 560px;
    border-top-left-radius: 15rem;
    border-top-right-radius: 15rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    object-fit: cover;
  }

  .city-main-info-section__title {
    font-size: var(--size-96px);
    font-family: var(--ff-header-sans-serif);
  }

  .city-main-info-section__list {
    padding: 0;
    margin: 0;
    margin-left: 2rem;
    list-style-type: disc;
    font-size: var(--size-36px);
  }
}
